<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-moveis</title>
</head>
<body>

    <a href="{% url 'index' %}">Home</a>

    {% if modal_token == True %}
        <form action="{% url 'verificaToken' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="email" id="email" value="{{ email_usuario }}">
            <input type="text" name="token" id="token" placeholder="token" required>
            <button type="submit">Continuar</button>
        </form>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
    {% else %}
        <form action="{% url 'forgetPassword' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="Email" required>
            <button type="submit">Solicitar Token</button>
        </form>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
    {% endif %}

</body>
</html>