{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-moveis</title>
</head>
<body>
    INDEX

    {% if user.is_authenticated %}
        <a href="{% url 'logoutView' %}">Logout</a>
    {% else %}
        <a href="{% url 'loginView' %}">Login</a>
        <a href="{% url 'cadastrar_imobiliaria' %}">Cadastro</a>
    {% endif %}




    <div class="container">
        <div class="anuncio">

            <div class="img">
                <img src="" alt="">
            </div>

            <div class="descricao">
                <div class="header">

                    <div class="preco">
                        <h3>R$ 300.000</h3>
                        <p>R$ 400,00 Condominio </p>
                    </div>

                    <div class="endereco">
                        <h3>CSB 05 Taquatinga Sul</h3>
                        <p>Taquatinga Sul, Taguatinga</p>
                    </div>

                </div>

                <div class="main">
                    <p><strong>Apartamento com 64m2 2 quartos vista livre com vaga de garagem. CSB 05 Tagua Sul</strong></p>
                    <p>- Edifífio Tainah, CSB 05 Taguatinga Sul. - Ótimo apartamento com 64m2. - 2 quartos + um reversível. - Sala ampla com varanda. - Quarto principal com varanda</p>
                </div>

                <div class="footer">
                    <div class="img__imobiliaria">
                        <img src="" alt="">
                    </div>

                    <div class="links">
                        <ul>
                            <li>LIKE</li>
                            <li>WPP</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>