<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-moveis</title>
</head>
<body>
    <h1>Redefinir Senha</h1>
    <form action="{% url 'redefinirPassword' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="email" id="email" value="{{ email_usuario }}">
        <input type="text" name="senha1" id="senha1" placeholder="Senha" required>
        <input type="text" name="senha2" id="senha2" placeholder="Repita a Senha" required>
        <button type="submit">Continuar</button>
    </form>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

</body>
</html>